<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css" />
		<link href="{{ SITEURL }}/theme/images/favicon.ico" rel="shortcut icon">
        <meta name="description" content="{% block description %}{{ SITEDESCRIPTION }}{% endblock description %}" lang="fr" xml:lang="fr" />
        {% endblock head %}
</head>

<body id="index" class="home {% block class %}{% endblock class %}">
<div class="container">

	<div class="row">
        <div id="header" class="body span12">
            <a href="{{ SITEURL }}/index.html">
				<img src="{{ SITEURL }}/theme/images/banniere-cdl2013.jpg" class="align-center" alt="Logo capitole du libre" /></a>
                <h1 class="hidden"><a href="{{ SITEURL }}">{{ SITENAME }} <strong>{{ SITESUBTITLE }}</strong></a></h1>
            <p class="hidden">novembre 2013</p>
            <p class="hidden">ENSEEIHT, Toulouse</p>
        </div><!-- /#banner -->
    </div>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
        <nav id="menu"><ul class="nav">
			{% for title, link in MENUITEMS %}
				<li><a href="{{ link }}">{{ title }}</a></li>
			{% endfor %}
			{% if DISPLAY_PAGES_ON_MENU %}
			  {% for p in PAGES %}
				<li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
			  {% endfor %}
			{% endif %}
        </ul>
        </nav><!-- /#menu -->
        </div>
       </div>
      </div>
      
	<div id="main" class="row">
        <div id="content" class="span12">
        {% block content %}
        {% endblock %}
        </div>
    </div>

    {% block sidebar %}
    <div id="sidebar" class="row">
<!--            
            <section id="appel-conference">
                <h2>Appel &agrave; conf&eacute;rence</h2>
                <p>Proposez <a href="/blog/2013/07-30-appel-a-conferences.html">une conf&eacute;rence ou un atelier</a> au Capitole du Libre 2013</p>
            </section>
            <section id="sondage">
                <h2>Vous y étiez ?</h2>
                <p>Répondez au <a class='btn btn-info' href="{{ SITEURL }}/sondage" target="_blank" title="Donnez votre avis !" alt="questionnaire">questionnaire en ligne</a></p>
-->
            <section id="communiquer" class="span3">

                <h2>Communiquez !</h2>
                
            {% if SOCIAL %}
                <div class="nav">
                    <a id="rss" href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate">atom feed</a>
                    {% if FEED_RSS %}
                    <a id="rss" href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate">rss feed</a>
                    {% endif %}

                {% for name, id, link in SOCIAL %}
                    <a id='{{ id }}' href="{{ link }}" target="_blank" >{{ name }}</a>
                {% endfor %}
                </div>
            {% endif %}
            </section>
            
            <section id="orga" class="span3">
                <h2>Organisateurs</h2>
                <ul class="logos thumbnails row-fluid">
                    <li class="span6"><a class="thumbnail" href="http://www.toulibre.org/" target="_blank">
                        <img src="{{ SITEURL }}//logos/toulibre.png" width="155" height="45" alt="logo Toulibre"></a></li>
                    <li class="span6"><a class="thumbnail" href="http://www.ubuntu-fr.org/" target="_blank">
                        <img src="{{ SITEURL }}//logos/ubuntu-fr.png" width="155" height="46" alt="logo ubuntu-fr"></a></li>
                </ul>

            </section>
           
            <section id="sponsors"  class="span6">
                <h2>Partenaires</h2>
                <h3>Sponsors "Or"</h3>
                <ul class="logos thumbnails row-fluid">
                    <li class="span3"><a class="thumbnail" href="http://www.enovance.com/">
                        <img style="width: 250px;" src="/logos/enovance.png" class="logo align-left" alt="E-Novance"></a>
                    <li class="span3"><a class="thumbnail" href="http://www.logilab.fr/">
                        <img style="width: 250px;" src="/logos/logilab.png" class="logo align-left" alt="Logilab"></a></li>
                    <li class="span3"><a class="thumbnail" href="http://www.kdab.com/">
                        <img style="width: 250px;" src="/logos/kdab.png" class="logo align-left" alt="KDAB"></a></li>
                    <li class="span3"><a class="thumbnail" href="http://www.makina-corpus.com/">
                        <img style="width: 250px;" src="/logos/makina-corpus.png" class="logo align-left" alt="Makina Corpus"></a></li>
                    <li class="span3"><a class="thumbnail" href="http://openpandora.org/" >
                        <img style="width: 250px;" src="/logos/openpandora.png" class="logo align-left" alt="Open Pandora"></a></li>
                    <li class="span3"><a class="thumbnail" href="http://www.sierrawireless.com/" >
                        <img style="width: 250px;" src="/logos/sierra-wireless.png" class="logo align-left" alt="Sierra Wireless"></a></li>
                </ul>
                <p><a href='{{ SITEURL }}/sponsors.html'>
                Voir tous les sponsors
                </a></p>
            </section>
            
        </div><!-- end #sidebar -->
        
    {% endblock sidebar %}
    
    </div><!-- end #container -->
    
    <footer id="contentinfo" class="body">
            <address id="about" class="vcard pull-left">
                Pour tout renseignement : <a class="url org" href="mailto:contact@toulibre.org">contactez <span class="org">Toulibre</span></a>
            </address>
             - <a href="{{ SITEURL }}/mentions-legales-et-credits.html">Mentions légales</a>
            <p class="pull-right"><em>Proudly powered by <a href="http://docs.notmyidea.org/alexis/pelican/">pelican</a>,
            and obviously <a href="http://python.org">python</a>!</em></p>
    </footer><!-- /#contentinfo -->
    
    
    <script type="text/javascript" src="{{ SITEURL }}/theme/js/jquery-1.8.2.min.js"></script>  
    <script type="text/javascript" src="{{ SITEURL }}/theme/js/bootstrap.min.js"></script>
</body>
</html>
