{% extends "base.html" %}

{% block content %}

    {% for page in pages %}
    <h1>{{ page.title }}</h1>
    <div>{{page.content}}</div>
    {% endfor %}
    
	<section id="actus">
        <h2>Les billets</h2>
        
        {% if articles %}
		{% for article in (articles_page.object_list if articles_page else articles) %}

		<div class='article'>
			<h3><span class="date">{{ article.date.strftime('%d %b %Y') }} : </span><a href={{ article.url }} >{{ article.title }}</a></h3>
			{{ article.summary }}
		</div>	
		{% endfor %}
	</section>
		{%endif%}


{% endblock %}
