
<script id="summary_tpl" type="text/template">
    {% raw %}
        <ul>
        {{#sessions}}
            <li>{{start_time}} : <a href="#{{id}}">{{title}}</a> - 
            {{#speakers}}<em>{{name}}</em> {{/speakers}}
            {{>subscribe}}
            </li>
        {{/sessions}}
        </ul>
    {% endraw %}
</script>
<script id="sessions_tpl" type="text/template">
    {% raw %}
    {{#sessions}}
    <div class="sessions-details clearfix">
        <h2 id="{{id}}">{{title}} <span class="label label-important">{{start_time}} &minus; {{end_time}}</span> <span class="label label-info">{{space}}</span></h2>
        
        {{>subscribe}}
        <div class="abstract">{{{abstract}}}</div>
        <div class="speakers row-fluid">
        {{#speakers}}<div>
            <h3>{{name}}</h3>
            <div class="biography">{{{speaker_bio}}}</div>
            </div>
        {{/speakers}}</div>
        <a class="pull-right" href="#" alt="up"><i class="icon-arrow-up"></i></a>
    </div>
    {{/sessions}}
    {% endraw %}
</script>
