<nav class="pull-right well">
    <h3>Samedi : conf&eacute;rences</h3>
    <ul class="nav" id="shedule-nav">
        {% for p in SCHEDULE_PAGES %}
        <li{% if p.url == page %} class="active"{% endif %}>
        <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
        </li>
        {% endfor %}
    </ul>
    <h3>Dimanche : ateliers</h3>
    
        <a href="{{ SITEURL }}/programme/ateliers.html">Voir les ateliers</a>
</nav>

<div id="prog-summary" class="contents"></div>

<div id="prog-details"></div>

{% include "schedule_js.html" %}

