{% extends "base.html" %}
{% block indextitle %}{% endblock %}
{% block title %}{{SITENAME}} - Appel &agrave; b&eacute;n&eacute;voles{% endblock title %}


{% block content %}
<div class='page'>

<h1>Appel &agrave; b&eacute;n&eacute;voles</h1>
<p>L'appel &agrave; b&eacute;n&eacute;voles est termin&eacute;. Merci &agrave; tous de vous &ecirc;tes inscrit-e-s !</p>
<p>Retrouvez-nous sur le <strong>stand Toulibre</strong> samedi et dimanche si vous souhaitez contribuer ou &ecirc;tre inform&eacute;-e des projets autour du libre &agrave; Toulouse.</p>

{% endblock %}
