<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css" />
		<link href="{{ SITEURL }}/theme/images/favicon.ico" rel="shortcut icon">
        {% endblock head %}
</head>

<body id="index" class="home">
<div class="container">

	<div class="row">
        <div id="header" class="body span12">
            <a href="{{ SITEURL }}/index.html" alt="accueil">
				<img src="{{ SITEURL }}/theme/images/logo-cdl2012.png" class="align-center" alt="Logo capitole du libre" /></a>
                <h1 class="hidden"><a href="{{ SITEURL }}">{{ SITENAME }} <strong>{{ SITESUBTITLE }}</strong></a></h1>
            <p class="hidden">24-25 novembre 2012</p>
            <p class="hidden">ENSEEIHT, Toulouse</p>
        </div><!-- /#banner -->
    </div>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
        <nav id="menu"><ul class="nav">
			<li><a href="{{ SITEURL }}/index.html" class="brand">Capitole du Libre 2012</a></li>
			{% for title, link in MENUITEMS %}
				<li><a href="{{ link }}">{{ title }}</a></li>
			{% endfor %}
			{% if DISPLAY_PAGES_ON_MENU %}
			  {% for p in PAGES %}
				<li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
			  {% endfor %}
			{% endif %}
        </ul></nav><!-- /#menu -->
        </div>
       </div>
      </div>
      
	<div id="main" class="row">
        <div id="content" class="span9">
        {% block content %}
        {% endblock %}
        </div>
        
        
        <div id="sidebar" class="span3">
            <div class="well ">
            <section id="orga">
                <h2>Organisateurs</h2>
                <ul class="logos thumbnails row-fluid">
                    <li class="span6"><a class="thumbnail" href="http://www.toulibre.org/" target="_blank">
                        <img src="{{ SITEURL }}/static/logos/toulibre.png" width="155" height="45" alt="logo Toulibre"></a></li>
                    <li class="span6"><a class="thumbnail" href="http://www.ubuntu-fr.org/" target="_blank">
                        <img src="{{ SITEURL }}/static/logos/ubuntu-fr.png" width="155" height="46" alt="logo ubuntu-fr"></a></li>
                </ul>

            </section>
           
        <section id="sponsors">
                <h2>Sponsors</h2>

                <h3 class="hide">Sponsors Or</h3>
                <ul class="logos thumbnails row-fluid">
                    <li class="span12"><a class="thumbnail" href="http://makina-corpus.com/" target="_blank">
                        <img src="{{ SITEURL }}/static/logos/makina-corpus.png" alt="Logo Makina Corpus" /></a></li>
                </ul>
                <h3 class="hide">Sponsors Argent</h3>
                <ul class="logos thumbnails row-fluid">
                    <li class="span9"><a class="thumbnail" href="https://www.alwaysdata.com/" target="_blank">
                        <img src="{{ SITEURL }}/static/logos/alwaysdata.png" alt="Logo Alwaysdata" /></a></li>
                    <li class="span9"><a class="thumbnail" href="http://www.c-s.fr/" target="_blank">
                        <img src="{{ SITEURL }}/static/logos/c-s.png" alt="Logo C-S" /></a></li>
                    <li class="span9"><a class="thumbnail" href="http://www.objectif-libre.com/" target="_blank">
                        <img src="{{ SITEURL }}/static/logos/objectif-libre.png" alt="Logo Objectif Libre" /></a></li>
                    <li class="span9"><a class="thumbnail" href="http://www.sierrawireless.com/" target="_blank">
                        <img src="{{ SITEURL }}/static/logos/sierra-wireless.gif" alt="Logo Sierra Wireless" /></a></li>
                    <li class="span9"><a class="thumbnail" href="http://www.mfi.fr/" target="_blank">
                        <img src="{{ SITEURL }}/static/logos/mfi.png" alt="MFI" /></a></li>
                    <li class="span9"><a class="thumbnail" href="http://www.afpy.org/" target="_blank">
                        <img src="{{ SITEURL }}/static/logos/afpy.png" alt="AFPY" /></a></li>
                    <li class="span9"><a class="thumbnail" href="http://www.novapost.fr/" target="_blank">
                        <img src="{{ SITEURL }}/static/logos/novapost.png" alt="Novapost" /></a></li>
                    <li class="span9"><a class="thumbnail" href="http://www.kdab.org/" target="_blank">
                        <img src="{{ SITEURL }}/static/logos/kdab.png" alt="KDAB" /></a></li>
                    <li class="span9"><a class="thumbnail" href="https://www.djangoproject.com/foundation/" target="_blank">
                        <img src="{{ SITEURL }}/static/logos/dsf.png" alt="Django Software Foundation" /></a></li>
                    <li class="span9"><a class="thumbnail" href="http://www.tisseo.fr/" target="_blank">
                        <img src="{{ SITEURL }}/static/logos/tisseo.png" alt="Tisséo" /></a></li>
                    <li class="span9"><a class="thumbnail" href="http://blue-systems.com/" target="_blank">
                        <img src="{{ SITEURL }}/static/logos/blue-systems.png" alt="Blue Systems" /></a></li>
                </ul>
                <h3 class="hide">Sponsors Bronze</h3>
                <ul class="logos thumbnails row-fluid">
                    <li class="span6"><a class="thumbnail" href="http://free-electrons.com/" target="_blank">
                        <img src="{{ SITEURL }}/static/logos/free-electrons.png" alt="Free Electrons" /></a></li>
                    <li class="span6"><a class="thumbnail" href="http://www.solulibre.com/" target="_blank">
                        <img src="{{ SITEURL }}/static/logos/solulibre.png" alt="SoluLibre" /></a></li>
                    <li class="span6"><a class="thumbnail" href="http://www.polyconseil.fr/" target="_blank">
                        <img src="{{ SITEURL }}/static/logos/polyconseil.png" alt="Polyconseil" /></a></li>
                </ul>
                <h3 class="hide">Partenaires</h3>
                <ul class="logos thumbnails row-fluid">

                    <li class="span6"><a class="thumbnail" href="http://www.enseeiht.fr/" target="_blank">
                        <img src="{{ SITEURL }}/static/logos/enseeiht.png" width="155" height="27" alt="Logo ENSEEIHT" /></a></li>
<!--
                    <li class="span6"><a class="thumbnail" href="http://www.toulouse.fr/" target="_blank">
                        <img src="{{ SITEURL }}/static/logos/logo-toulouse.png" width="150" height="22" alt="Logo Toulouse" /></a></li>
-->
                </ul>
                <h3 class="hide">Devenez Sponsors</h3>
                <p><a class='btn btn-info' href="{{ SITEURL }}/static/files/capitole-du-libre-sponsoring.pdf" title="Dossier de sponsoring du Capitole du libre" alt="Dossier de sponsoring du Capitole du libre">Téléchargez le dossier de sponsoring</a></p>
            </section>
            
            <section id="communiquer">
                <h2>Communiquez !</h2>
                
            {% if SOCIAL %}
                            <ul>
                                <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate">atom feed</a></li>
                                {% if FEED_RSS %}
                                <li><a href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate">rss feed</a></li>
                                {% endif %}

                            {% for name, link in SOCIAL %}
                                <li><a href="{{ link }}" target="_blank" >{{ name }}</a></li>
                            {% endfor %}
                            </ul>
            {% endif %}
        
            </section>
            
            <section id="editions-precedentes">
                <h2>Les éditions précédentes</h2>
                <p>Retrouvez <a href="/2011" alt="Capitole du libre 2011">la première édition du Capitole du Libre</a>.</p>
                <p>Et avant, il n'y avait que l'Ubuntu Party&nbsp;: en <a href="http://www.toulibre.org/ubuntuparty2009" alt="Ubuntu Party 2009">2009</a> et en <a href="http://www.toulibre.org/ubuntuparty2010" alt="Ubuntu Party 2010">2010</a></p>
            </section>
            
            </div>
            
        </div><!-- end #sidebar -->
    </div><!-- end #main -->
    
        <footer id="contentinfo" class="body">
                <address id="about" class="vcard pull-left">
					Pour tout renseignement : <a class="url org" href="mailto:contact@toulibre.org">contactez <span class="org">Toulibre</span></a></p>
                </address>
                <p class="pull-right"><em>Proudly powered by <a href="http://docs.notmyidea.org/alexis/pelican/">pelican</a>,
                and obviously <a href="http://python.org">python</a>!</em></p>
        </footer><!-- /#contentinfo -->
</body>
</html>
