<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css" />
		<link href="{{ SITEURL }}/theme/images/favicon.ico" rel="shortcut icon">
        
        <meta name="description" content="{% block description %}{{ SITEDESCRIPTION }}{% endblock description %}" lang="fr" xml:lang="fr"  xml:lang="fr" />
        
        {% block script %}{% endblock script %}
        {% endblock head %}
</head>

<body id="index" class="home {% block class %}{% endblock class %}">
<div class="container">
      
	<div id="main" class="row">
        <div id="content">
        {% block content %}
        {% endblock %}
        </div>
        
    </div><!-- end #main -->
    
        <footer id="contentinfo" class="body">
                <address id="about" class="vcard pull-left">
					Pour tout renseignement : <a class="url org" href="mailto:contact@toulibre.org">contactez <span class="org">Toulibre</span></a>
                </address>
                 - <a href="{{ SITEURL }}/mentions-legales-et-credits.html">Mentions légales</a>
                <p class="pull-right"><em>Proudly powered by <a href="http://docs.notmyidea.org/alexis/pelican/">pelican</a>,
                and obviously <a href="http://python.org">python</a>!</em></p>
        </footer><!-- /#contentinfo -->
        
        
        <script type="text/javascript" src="{{ SITEURL }}/theme/js/jquery.js"></script>  
<!--
        <script type="text/javascript" src="{{ SITEURL }}/theme/js/jquery-ui.js"></script>  
-->
        <script type="text/javascript" src="{{ SITEURL }}/theme/js/bootstrap-dropdown.js"></script>
        <script type="text/javascript" src="{{ SITEURL }}/theme/js/bootstrap-tab.js"></script>
</body>
</html>
