{% extends "base.html" %}

{% block content %}

<section id="description">
	  <h2>À propos</h2>
		<p><strong class="summary">Le Capitole du Libre</strong> est un événement consacré au Logiciel Libre en particulier, et au libre en général. Il est orienté à la fois vers le grand public et le public spécialisé.</p>
		<p>L'<a href="http://www.capitoledulibre.org/2012/" class="url" name="Capitole du libre 2012" title="Capitole du libre 2012">édition 2012 du Capitole du Libre</a> aura lieu les <strong>24 et 25 novembre</strong> à <a href="http://www.enseeiht.fr">l'ENSEEIHT</a>, à Toulouse.</p>
</section>

<section id="cdl">
    <h2>Le Capitole du Libre vous propose...</h2>
    <div class="row-fluid">
        <div class="span6">
        <h3>Le samedi 24 novembre&nbsp;:</h3>
        <ul>
          <li>des <a href="conferences-grand-public-samedi-24-novembre.html">conférences grand public</a> pour découvrir et comprendre le monde du Logiciel Libre</li>
          <li>des <a href="conferences-techniques-samedi-24-novembre.html">conférences techniques</a> pour approfondir des thématiques comme le développement, l'administration système, les réseaux, etc.</li>
          <li>des <a href="conferences-multimedia-samedi-24-novembre.html">conférences multimédia</a> pour découvrir ou approfondir les outils libres de création graphique, vidéo et musicale</li>
          <li>des <a href="conferences-eclair-samedi-24-novembre.html">conférences éclairs</a>, ou <i>lightning talks</i></li>
          <li>dans le cadre de l'Ubuntu Party, une <a href="ubuntu-party-samedi-24-novembre.html#installparty">install-party Ubuntu</a> et des <a href="ubuntu-party-samedi-24-novembre.html#conf-ubuntu">mini-conférences de découverte d'Ubuntu</a></li>
          <li>une conférence de clôture animée par <b>Jérémie Zimmermann, co-fondateur de la Quadature du Net</b>, suivie d'un cocktail offert à tous les participants</li>
        </ul>
        </div>

        <div class="span6">
        <h3>Le dimanche 25 novembre&nbsp;:</h3>
        <ul>
          <li>des <a href="ateliers-grand-public-dimanche-25-novembre.html">ateliers pour le grand public</a>, autour d'Ubuntu et d'OpenStreetMap</li>
          <li>des <a href="ateliers-techniques-dimanche-25-novembre.html">ateliers techniques</a>, autour de Git, OpenStack et Puppet</li>
          <li>des <a href="ateliers-multimedia-dimanche-25-novembre.html">ateliers multimédias</a>, autour de Blender, la M.A.O, MyPaint et bien plus</li>
          <li>la suite de l'install party</li>
          <li>dans le cadre de l'<strong>Akademy-fr</strong>, les <a target="_blank" href="http://toulibre.org/akademyfr#programme_25_novembre">ateliers KDE</a></li>
          <li>dans le cadre du <strong>DjangoCon</strong>, les <a target="_blank" href="http://rencontres.django-fr.org/2012/tolosa/ateliers-sprints.html">ateliers initiation et code sprints Django</a></li>
        </ul>
        </div>
    </div>

    <p>Voir notre <a href="programme.html">programme complet</a>.</p>

    <p><b>L'entrée est libre et gratuite. Les ateliers du dimanche sont gratuits mais nécessitent une inscription préalable.</b></p>
</section>
        <section id="community-events">
        <h2>Le Capitole du Libre accueille également...</h2>
        <p>C'est l'occasion de réunir des communautés du libre en hébergeant un de leurs événements.</p>
        <div class="community-events row-fluid">
            <div id="akademyfr" class="community-event span4">
                <div class="well">
                <h3 class="hide-text">Akademy-fr</h3>
                <p>Le rendez-vous de la communauté française de KDE</p>
		<div class="align-right"><a class="btn" target="_blank" href="http://toulibre.org/akademyfr" alt="AkademyFR 2012">en savoir +</a></div>
                </div>
            </div>
            <div id="djangofr" class="community-event span4">
                <div class="well">
                <h3 class="hide-text">DjangoCon</h3>
                <p>Une rencontre des utilisateurs et développeurs Django</p>
                <div class="align-right"><a class="btn" target="_blank" href="http://rencontres.django-fr.org/2012/tolosa/" alt="Rencontres Django 2012: Tolosa">en savoir +</a></div>
                </div>
            </div>

            <div id="upt" class="community-event span4">
                <div class="well">
                <h3 class="hide-text">Ubuntu Party</h3>
                <p>Trouver de l'aide pour installer et utiliser des Logiciels Libres</p>
                <div class="align-right"><a class="btn" href="{{ SITEURL }}/ubuntu-party.html" alt="Ubuntu Party Toulouse 2012">en savoir +</a></div>
                </div>
            </div>
            
        </div>
        </section>

	
		{% if articles %}
	<section id="actus">
        <h2>Dernières nouvelles</h2>
		{% for article in (articles_page.object_list if articles_page else articles) %}
		<div class='article'>
			<h3><span class="date">{{ article.date.strftime('%d %b %Y') }} : </span><a href={{ article.url }} >{{ article.title }}</a></h3>
			<p>{{ article.summary }}</p>
		</div>	
		{% endfor %}
	</section>
		{%endif%}
<!--

{% if articles_page and articles_paginator.num_pages > 1 %}
<div class="pagination">
<ul>
	{% if articles_page.has_previous() %}
		{% set num = articles_page.previous_page_number() %}
		<li class="prev"><a href="{{ SITEURL }}/{{ page_name }}{{ num if num > 1 else '' }}.html">&larr; Previous</a></li>
	{% else %}
		<li class="prev disabled"><a href="#">&larr; Previous</a></li>
	{% endif %}
	{% for num in range( 1, 1 + articles_paginator.num_pages ) %}
		<li class="{{ 'active' if num == articles_page.number else '' }}"><a href="{{ SITEURL }}/{{ page_name }}{{ num if num > 1 else '' }}.html">{{ num }}</a></li>
	{% endfor %}
	{% if articles_page.has_next() %}
		<li class="next"><a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html">Next &rarr;</a></li>
	{% else %}
		<li class="next disabled"><a href="#">&rarr; Next</a></li>
	{% endif %}
</ul>
</div>
{% endif %}
-->

{% endblock %}
