{% extends "base.html" %}

{% block content %}

    {% for article in articles %}
    {% if article.title == "Merci !" %}
    <h1>{{ article.title }}</h1>
    <div>{{article.content}}</div>
    {% endif %}
    {% endfor %}
    
	<section id="actus">
        <h2>Les billets</h2>
        
        {% if articles %}
		{% for article in (articles_page.object_list if articles_page else articles) %}

		<div class='article'>
			<h3><span class="date">{{ article.date.strftime('%d %b %Y') }} : </span><a href={{ article.url }} >{{ article.title }}</a></h3>
			<p>{{ article.summary }}</p>
		</div>	
		{% endfor %}
	</section>
		{%endif%}


{% endblock %}
