{% extends "base-mobile.html" %}

{% block title %}{{ SITENAME }} - Programme{% endblock title %}
{% block class %}mobile-map{% endblock class %}
{% block script %}
<script src="{{ SITEURL }}/theme/js/jquery-1.8.2.min.js"></script>
<script>
  var rooms = new Array('A304', 'A303', 'A302', 'A301', 'A203', 'A202', 'A201', 'A002', 'A001', 'C101', 'C102', 'C103', 'C002', 'C006');

  $(document).ready(function() {
    showPrgAndRoom('A001')
  });

  function showRoom(room){
    for (i = 0; i <= rooms.length; i++) {
      if ( rooms[i] === room ) {
          $( "#r" + rooms[i] ).show();
      } else {
          $( "#r" + rooms[i] ).hide();
      }
    }
  }

  function showPrg(room){
    for (i = 0; i <= rooms.length; i++) {
      if ( rooms[i] === room ) {
          $( "#s" + rooms[i] ).show();
          $( "#d" + rooms[i] ).show();
      } else {
          $( "#s" + rooms[i] ).hide();
          $( "#d" + rooms[i] ).hide();
      }
    }
  }

  function showPrgAndRoom(room){
    showRoom(room);
    showPrg(room);
  }

  </script>
{% endblock script %}

{% block content %}
  <div class="plan-wrapper">
	<div class="room-wrapper">
		<div class="room" id="rA304" style="left:20px;top:7px;width: 41px;height:49px"></div>
		<div class="room" id="rA303" style="left:20px;top:60px;width: 41px;height:54px"></div>
		<div class="room" id="rA302" style="left:20px;top:117px;width: 41px;height:54px"></div>
		<div class="room" id="rA301" style="left:20px;top:176px;width: 41px;height:54px"></div>
		<div class="room" id="rA203" style="left:66px;top:16px;width: 33px;height:57px"></div>
		<div class="room" id="rA202" style="left:66px;top:77px;width: 33px;height:57px"></div>
		<div class="room" id="rA201" style="left:66px;top:137px;width: 33px;height:58px"></div>
		<div class="room" id="rA002" style="left:157px;top:133px;width: 66px;height:39px"></div>
		<div class="room" id="rA001" style="left:157px;top:190px;width: 66px;height:39px"></div>
		<div class="room" id="rC101" style="left:258px;top:129px;width: 27px;height:39px"></div>
		<div class="room" id="rC103" style="left:290px;top:129px;width: 27px;height:39px"></div>
		<div class="room" id="rC102" style="left:240px;top:213px;width: 45px;height:37px"></div>
		<div class="room" id="rC002" style="left:228px;top:182px;width: 60px;height:30px"></div>
		<div class="room" id="rC006" style="left:377px;top:130px;width: 27px;height:38px"></div>
		<img id="plan" alt="plan de l'ENSEEIHT" src="{{ SITEURL }}/theme/images/enseeiht-plan.png" usemap="#map"/>
	</div>
	<map name="map">
    <area shape="rect" coords="2,7,47,59" 		onclick="showPrgAndRoom('A304');" />
    <area shape="rect" coords="3,59,48,117" 	onclick="showPrgAndRoom('A303');" />
    <area shape="rect" coords="3,117,46,175" 	onclick="showPrgAndRoom('A302');" />
    <area shape="rect" coords="4,176,46,232" 	onclick="showPrgAndRoom('A301');" />
    <area shape="rect" coords="49,16,86,75" 	onclick="showPrgAndRoom('A203');" />
    <area shape="rect" coords="48,74,87,136" 	onclick="showPrgAndRoom('A202');" />
    <area shape="rect" coords="46,136,88,197" 	onclick="showPrgAndRoom('A201');" />
    <area shape="rect" coords="139,133,209,176" onclick="showPrgAndRoom('A002');" />
    <area shape="rect" coords="138,193,207,236" onclick="showPrgAndRoom('A001');" />
    <area shape="rect" coords="239,129,270,163" onclick="showPrgAndRoom('C101');" />
    <area shape="rect" coords="271,129,297,163" onclick="showPrgAndRoom('C103');" />
    <area shape="rect" coords="222,213,269,255" onclick="showPrgAndRoom('C102');" />
    <area shape="rect" coords="210,182,269,212" onclick="showPrgAndRoom('C002');" />
    <area shape="rect" coords="359,130,388,173" onclick="showPrgAndRoom('C006');" />
  </map>
  </div>

  <div>
  <div class="entry">
    <h2 class="entry-day">Samedi 24 novembre</h2>
	<div class="entry" id="sA001">
		<h3 class="entry-header">Salle A001 / Grand public</h3>
		<div class="entry-content">
			<div class="entry-body">
			<h4 class="body-header">14h - 15h&nbsp;:&nbsp; <a href="conferences-grand-public-samedi-24-novembre.html#conf-framasoft">Les logiciels libres c'est bien mais c'est trop compliqué pour moi</a> par Alexis Kauffmann, Framasoft</h4>
			
			<h4 class="body-header">15h - 16h&nbsp;:&nbsp; <a href="conferences-grand-public-samedi-24-novembre.html#conf-educ-libre">Le libre dans l'éducation. Ses enjeux</a>, Jean-Pierre Archambault, CNDP-CDRP</h4>
			
			
			<h4 class="body-header">16h - 17h&nbsp;:&nbsp; <a href="conferences-grand-public-samedi-24-novembre.html#conf-wikimedia">Wikipédia, Wikimédia, et après ?</a>, Adrienne Charmet-Alix, Wikimedia France</h4>
			
			
			<h4 class="body-pause">17h - 17h30&nbsp;:&nbsp; Pause</h4>
			
			
			<h4 class="body-header">17h30 - 18h30&nbsp;:&nbsp;<a href="conferences-grand-public-samedi-24-novembre.html#conf-open-hardware">Open Hardware&nbsp;: quand le matériel devient libre</a>, Sylvain Wallez</h4>
			
			
			<h4 class="body-header">18h30 - 19h30&nbsp;:&nbsp;<a href="conferences-grand-public-samedi-24-novembre.html#conf-liberer-internet">Libérer Internet&nbsp;: Sexe, alcool et vie privée</a>, Julien Vaubourg et Sébastien Jean, LDN</h4>
			
			
			<h4 class="body-header">19h30 - 20h30&nbsp;:&nbsp;Conférence de clôture, <b>Jérémie Zimmermann, co-fondateur et animateur de la Quadrature du Net</b></h4>

			
			</div>
		</div>
</div>
<div class="entry" id="sA002">
	<h3 class="entry-header">Salle A002 / Technique</h3>
	<div class="entry-content">
		<div class="entry-body">
			<h4 class="body-header">14h - 15h&nbsp;:&nbsp;<a href="conferences-techniques-samedi-24-novembre.html#conf-pile-graphique">Introduction aux GPUs et à la pile graphique Linux</a> Martin Peres</h4>
            
			
			
			<h4 class="body-header">15h - 16h&nbsp;:&nbsp;<a href="conferences-techniques-samedi-24-novembre.html#conf-tetaneutral">Internet haut débit citoyen en zone blanche ADSL&nbsp;: l'expérience de l'association tetaneutral.net</a>, Laurent Guerby, Tetaneutral.net</h4>
			
			
			<h4 class="body-header">16h - 17h&nbsp;:&nbsp;<a href="conferences-techniques-samedi-24-novembre.html#conf-freebox">La Freebox, un ensemble subtil de logiciels libres et propriétaires</a>, Florian Fainelli</h4>
			
			
			<h4 class="body-pause">17h - 17h30&nbsp;:&nbsp;Pause</h4>
			
			
			<h4 class="body-header">17h30 - 18h30&nbsp;:&nbsp;<a href="conferences-techniques-samedi-24-novembre.html#conf-git">Pourquoi Git ?</a>, Sébastien Douche</h4>
			
			
			<h4 class="body-header">18h30 - 19h30&nbsp;:&nbsp;<a href="conferences-techniques-samedi-24-novembre.html#conf-tisseo">Logiciel libre et transport public&nbsp;: l'implication de Tisséo dans la communauté Synthèse</a>, Xavier Raffin, Tisséo et Hugues Romain, RCSMobility</h4>
			
    </div>
	</div>
</div>
<div class="entry" id="sA201">
<h3 class="entry-header">Salle A201 / Multimedia</h3>
<div class="entry-content">
  <div class="entry-body">
  <h4 class="body-header">14h - 15h&nbsp;:&nbsp;<a href="conferences-multimedia-samedi-24-novembre.html#conf-krita">Krita 2.5&nbsp;: Découverte et fonctionnalités</a>, David Revoy</h4>
  
  
  <h4 class="body-header">15h - 16h&nbsp;:&nbsp;<a href="conferences-multimedia-samedi-24-novembre.html#conf-blender">Conférence Blender</a>, François Grassard</h4>
  
  <h4 class="body-header">16h - 17h&nbsp;:&nbsp;<a href="/conferences-multimedia-samedi-24-novembre.html#conf-html5">HTML5 et ses amis</a>, Paul Rouget, Mozilla</h4>
  
  
  <h4 class="body-pause">17h - 17h30&nbsp;:&nbsp;Pause</h4>
  
  
  <h4 class="body-header">17h30 - 18h30&nbsp;:&nbsp;<a href="conferences-multimedia-samedi-24-novembre.html#conf-montage-video">Conférence multimédia&nbsp;: 1, 2, 3, silence, ça tourne sous GNU/Linux...</a>, Laurent Bellegarde</h4>
  
  
  <h4 class="body-header">18h30 - 19h30&nbsp;:&nbsp;<a href="conferences-multimedia-samedi-24-novembre.html#conf-archi-libre">Les outils libres pour les métiers de la construction et de l'ingénierie</a>, Matthieu Dupont de Dinechin</h4>
  </div>
</div>
</div>
<div class="entry" id="sA202">
<h3 class="entry-header">Salle A202 / Multimedia</h3>
<div class="entry-content">
  <div class="entry-body">
  <h4 class="body-header">15h - 16h&nbsp;:&nbsp;<a href="conferences-multimedia-samedi-24-novembre.html#conf-musecore">MuseScore&nbsp;: Accès libre aux partitions, code source de la musique</a>, Nicolas Froment</h4>
  
  
  <h4 class="body-header">16h - 17h&nbsp;:&nbsp;<a href="conferences-multimedia-samedi-24-novembre.html#conf-moteur-rendu">Les moteurs de rendu libres&nbsp;: vers toujours plus de réalisme ?</a>, Henri Hebeisen</h4>
  
  
  <h4 class="body-pause">17h - 17h30&nbsp;:&nbsp;Pause</h4>
  
  
  <h4 class="body-header">17h30 - 18h30&nbsp;:&nbsp;<a href="conferences-multimedia-samedi-24-novembre.html#conf-gmic">Le projet G'MIC&nbsp;: Naissance, évolution et démonstration</a>, David Tschumperlé</h4>
  
  
  <h4 class="body-header">18h30 - 19h30&nbsp;:&nbsp;<a href="conferences-multimedia-samedi-24-novembre.html#conf-vlc">VideoLAN et tour d'horizon du Multimedia Libre</a>, Jean-Baptiste Kempf</h4>
  
  </div>
</div>
</div>

<div class="entry" id="sC002">
<h3 class="entry-header">Salle C002 / Mini conférences</h3>
<div class="entry-content">
  <div class="entry-body">
  <h4 class="body-header">14h - 15h&nbsp;:&nbsp;
    <ul>
      <li>14h&nbsp;: <a href="conferences-eclair-samedi-24-novembre.html#conf-firewall">Réaliser votre firewall, sans aucune connaissance d'iptables</a></li>
      <li>14h20&nbsp;: <a href="conferences-eclair-samedi-24-novembre.html#conf-po4a">po4a, outil de traduction pour la documentation</a></li>
      <li>14h40&nbsp;: <a href="conferences-eclair-samedi-24-novembre.html#conf-scapy">Scapy&nbsp;: Easy Packet Handling</a></li>
    </ul>
  </h4>
  
  
  <h4 class="body-header">15h - 16h&nbsp;:&nbsp;
    <ul>
      <li>15h&nbsp;: <a href="conferences-eclair-samedi-24-novembre.html#conf-otb">OTB&nbsp;: Librairie de traitement d'images spatiales</a></li>
      <li>15h20&nbsp;: <a href="conferences-eclair-samedi-24-novembre.html#conf-diogene">Diogène, logiciel libre de Biométrie et Génétique sous Linux</a></li>
      <li>15h40&nbsp;: <a href="conferences-eclair-samedi-24-novembre.html#conf-orekit">Orekit, l'innovation libre comme pari industriel</a></li>
    </ul>
  </h4>
  
  
  <h4 class="body-header">16h - 17h&nbsp;:&nbsp;
    <ul>
      <li>16h&nbsp;: <a href="conferences-eclair-samedi-24-novembre.html#conf-opensource">L'Open Source et les éditeurs de logiciel&nbsp;: avantage compétitif agressif ou développement durable?</a></li>
      <li>16h20&nbsp;: <a href="conferences-eclair-samedi-24-novembre.html#conf-software-defined-network">Quand le Software prend le contrôle des réseaux et que l’Open Hardware est une solution pour aller plus loin</a></li>
      <li>16h40&nbsp;: <a href="conferences-eclair-samedi-24-novembre.html#conf-mozilla">C'est quoi Mozilla ?</a></li>
    </ul>
  </h4>
  
  
  <h4 class="body-pause">17h - 17h30&nbsp;:&nbsp;Pause</h4>
  
  
  <h4 class="body-header">17h30 - 18h30&nbsp;:&nbsp;
    <ul>
      <li>17h30&nbsp;: <a href="conferences-eclair-samedi-24-novembre.html#conf-gcompris">Le logiciel éducatif GCompris fait le plein de nouveautés</a></li>
      <li>17h50&nbsp;: <a href="conferences-eclair-samedi-24-novembre.html#conf-videoenpoche">Vidéo en Poche&nbsp;: présentation et état des lieux</a></li>
      <li>18h10&nbsp;: <a href="conferences-eclair-samedi-24-novembre.html#conf-cinemalibre">Vers un système de projection libre pour le cinéma numérique</a></li>
    </ul>
  </h4>
  
  
  <h4 class="body-header">18h30 - 19h30&nbsp;:&nbsp;       
    <ul>
      <li>18h30&nbsp;: <a href="conferences-eclair-samedi-24-novembre.html#conf-contribuer-mozilla">Comment contribuer à Mozilla</a></li>
      <li>18h50&nbsp;: <a href="conferences-eclair-samedi-24-novembre.html#conf-roman-cc-zero">Comment mettre mon roman dans le domaine public a fait de moi un auteur</a></li>
      <li>19h10&nbsp;: <a href="conferences-eclair-samedi-24-novembre.html#conf-framazic">Framazic, et si on changeait la musique ?</a></li>
    </ul>
  </h4>
  
  </div>
</div>
</div>
<div class="entry" id="sC101">
<h3 class="entry-header">Salle C101 / Ubuntu Party</h3>
<div class="entry-content">
  <div class="entry-body">
  <h4 class="body-header">14h - 15h&nbsp;:&nbsp;<a href="ubuntu-party-samedi-24-novembre.html#conf-ubuntu">Présentation "Installation et découverte d'Ubuntu"</a>, Fabien Adam</h4>
  
  
  <h4 class="body-header">15h - 16h&nbsp;:&nbsp;<a href="ubuntu-party-samedi-24-novembre.html#conf-ubuntu">Présentation "Installation et découverte d'Ubuntu"</a>, Fabien Adam</h4>
  
  
  <h4 class="body-header">16h - 17h&nbsp;:&nbsp;<a href="ubuntu-party-samedi-24-novembre.html#conf-ubuntu">Présentation "Installation et découverte d'Ubuntu"</a>, Fabien Adam</h4>
  
  
  <h4 class="body-pause">17h - 17h30&nbsp;:&nbsp;Pause</h4>
  
  
  <h4 class="body-header">17h30 - 18h30&nbsp;:&nbsp;<a href="ubuntu-party-samedi-24-novembre.html#conf-ubuntu">Présentation "Installation et découverte d'Ubuntu"</a>, Fabien Adam</h4>
  
  </div>
</div>
</div>
<div class="entry" id="sC102">
<h3 class="entry-header">Salle C102 / Ubuntu Party</h3>
<div class="entry-content">
  <div class="entry-body">
  <h4 class="body-header">11h30 - 19h30&nbsp;:&nbsp;<a href="ubuntu-party-samedi-24-novembre.html#installparty">Install Party Ubuntu</a></h4>
  
  </div>
</div>
</div>
<div class="entry" id="sA203">
<h3 class="entry-header">Salle A203 / DjangoCon</h3>
<div class="entry-content">
  <div class="entry-body">
  <h4 class="body-header">11h30 - 12h30&nbsp;:&nbsp;<a href="http://rencontres.django-fr.org/2012/tolosa/lightning-talks.html">Lightning talks</a></h4>
  
  
  <h4 class="body-header">14h - 15h&nbsp;:&nbsp;
    <ul>
      <li>14h&nbsp;: <a href="http://rencontres.django-fr.org/2012/tolosa/conferences.html#c1">L'infatigable Poney</a>, Nicolas Ferrari</li>
      <li>14h30&nbsp;: <a href="http://rencontres.django-fr.org/2012/tolosa/conferences.html#c2">Retour d'expérience Django à Météo France</a>, Fabien Marty</li>
    </ul>
  </h4>
  
  
  <h4 class="body-header">15h - 16h&nbsp;:&nbsp;
    <ul>
      <li>15h&nbsp;: <a href="http://rencontres.django-fr.org/2012/tolosa/conferences.html#c3">Introduction à Circus, process watcher en Python</a>, Alexis Métaireau</li>
      <li>15h30&nbsp;: <a href="http://rencontres.django-fr.org/2012/tolosa/conferences.html#c4">Hacker la démocratie avec le mémoire politique de la Quadrature du Net</a>, Laurent Peuch</li>
    </ul>
  </h4>
  
  
  <h4 class="body-header">16h - 17h&nbsp;:&nbsp;
    <ul>
      <li>16h&nbsp;: <a href="http://rencontres.django-fr.org/2012/tolosa/conferences.html#c5">Conférence surprise !</a>, Julien Phalip</li>
      <li>16h30&nbsp;: <a href="http://rencontres.django-fr.org/2012/tolosa/conferences.html#c6">Et votre back-office ?</a>, Timothée Peignier</li>
    </ul>
  </h4>
  
  
  <h4 class="body-pause">17h - 17h30&nbsp;:&nbsp;Pause</h4>
  
  
  <h4 class="body-header">17h30 - 18h30&nbsp;:&nbsp;
    <ul>
      <li>17h30&nbsp;: <a href="http://rencontres.django-fr.org/2012/tolosa/conferences.html#c7">Django pour les fainéants, le retour</a>, Mathieu Agopian</li>
      <li>18h&nbsp;: <a href="http://rencontres.django-fr.org/2012/tolosa/conferences.html#c8">Pourquoi je ne veux plus utiliser Django</a>, David Larlet</li>
    </ul>
  </h4>
  
  
  <h4 class="body-header">18h30 - 19h30&nbsp;:&nbsp;<a href="http://rencontres.django-fr.org/2012/tolosa/">Présentation des sprints</a></h4>
  </div>
</div>
</div>
<div class="entry" id="sC103">
<h3 class="entry-header">Salle C103 / Akademy-fr</h3>
<div class="entry-content">
  <div class="entry-body">
  <h4 class="body-header">14h - 15h&nbsp;:&nbsp;<a href="http://toulibre.org/akademyfr#conf_communaute">KDE&nbsp;: Communauté, Démocratie et Marketing</a>, Kévin Ottens</h4>
  
  
  <h4 class="body-header">15h - 16h&nbsp;:&nbsp;<a href="http://toulibre.org/akademyfr#conf_kdevelop">KDevelop&nbsp;: IDE Tout Terrain</a>, Lambert Clara</h4>
  
  
  <h4 class="body-header">16h - 17h&nbsp;:&nbsp;<a href="http://toulibre.org/akademyfr#conf_traduction">Comment faire des contrôles de qualité d'une traduction ?</a>, Sébastien Renard</h4>
  
  
  <h4 class="body-pause">17h - 17h30&nbsp;:&nbsp;Pause</h4>
  
  
  <h4 class="body-header">17h30 - 18h30&nbsp;:&nbsp;<a href="http://toulibre.org/akademyfr#conf_debug">Techniques générales de débogage</a>, David Faure</h4>
  
  
  <h4 class="body-header">18h30 - 19h30&nbsp;:&nbsp;<a href="http://toulibre.org/akademyfr#conf_complexite">La complexité informatique</a>, Sébastien Renard</h4>
  </div>
</div>
</div>
</div>
<div class="entry">

<h2 class="entry-day">Dimanche 25 novembre
</h2>
  <div class="entry" id="dC006">
    <h3 class="entry-header">Salle C006 / Grand public</h3>
    <div class="entry-content">
      <div class="entry-body">
      <h4 class="body-header">10h - 13h&nbsp;:&nbsp;<a href="ateliers-grand-public-dimanche-25-novembre.html#atelier-arduino">Atelier "Arduino&nbsp;: initiation par l'exemple"</a>, Rémi Boulle, Patrick Dedieu, <i><a href="http://toulibre.org/capitoledulibre2012:atelier-arduino">inscription</a></i></h4>
      
      
      <h4 class="body-pause">13h - 14h&nbsp;:&nbsp;Repas, Un repas au tarif de 3 EUR est proposé aux participants, voir <a href="http://toulibre.org/capitoledulibre2012:repas-dimanche-midi">cette page pour s'inscrire</a></h4>
      
      
      <h4 class="body-header">14h - 17h&nbsp;:&nbsp;<a href="ateliers-grand-public-dimanche-25-novembre.html#atelier-openstreetmap">Atelier "OpenStreetMap&nbsp;: sources de données, JOSM et autres outils du contributeur"</a>, Sébastien Dinot, <i><a href="http://toulibre.org/capitoledulibre2012:atelier-osm">inscription</a></i></h4>
      
      
      </div>
    </div>
  </div>
  <div class="entry" id="dC101">
    <h3 class="entry-header">Salle C101 / Grand public</h3>
    <div class="entry-content">
      <div class="entry-body">
      <h4 class="body-header">10h - 13h&nbsp;:&nbsp;<a href="ateliers-grand-public-dimanche-25-novembre.html#atelier-bon-internaute">Atelier "Le bon internaute par la pratique"</a>, Julien Vaubourg, Sébastien Jean, <i><a href="http://toulibre.org/capitoledulibre2012:atelier-bon-internaute">inscription</a></i>
</h4>
      
      
      <h4 class="body-pause">13h - 14h&nbsp;:&nbsp;Repas, Un repas au tarif de 3 EUR est proposé aux participants, voir <a href="http://toulibre.org/capitoledulibre2012:repas-dimanche-midi">cette page pour s'inscrire</a>
Repas, Un repas au tarif de 3 EUR est proposé aux participants, voir <a href="http://toulibre.org/capitoledulibre2012:repas-dimanche-midi">cette page pour s'inscrire</a></h4>
      
      
      <h4 class="body-header">14h - 17h&nbsp;:&nbsp;
<a href="ubuntu-party-dimanche-25-novembre.html#atelier-ubuntu">Atelier "Initiation à Ubuntu Linux"</a>, Fabien Adam, <i><a href="http://toulibre.org/capitoledulibre2012:atelier-ubuntu-apres-midi">inscription</a></i></h4>
      
      
      </div>
    </div>
  </div>
  <div class="entry" id="dA001">
    <h3 class="entry-header">Salle A001 / Technique</h3>
    <div class="entry-content">
      <div class="entry-body">
      <h4 class="body-header">10h - 13h&nbsp;:&nbsp;<a href="ateliers-techniques-dimanche-25-novembre.html#atelier-git-debutant">Atelier "Débuter avec Git"</a>, Sébastien Douche, <i><a href="http://toulibre.org/capitoledulibre2012:atelier-git-debutant">inscription</a></i></h4>
      
      
      <h4 class="body-pause">13h - 14h&nbsp;:&nbsp;Repas, Un repas au tarif de 3 EUR est proposé aux participants, voir <a href="http://toulibre.org/capitoledulibre2012:repas-dimanche-midi">cette page pour s'inscrire</a></h4>
      
      
      <h4 class="body-header">14h - 17h&nbsp;:&nbsp;<a href="ateliers-techniques-dimanche-25-novembre.html#atelier-git-perfectionnement">Atelier "Se perfectionner avec Git"</a>, Sébastien Douche, <i><a href="http://toulibre.org/capitoledulibre2012:atelier-git-perfectionnement">inscription</a></i></h4>
      
      
      </div>
    </div>
  </div>

  <div class="entry" id="dA002">
    <h3 class="entry-header">Salle A002 / Technique</h3>
    <div class="entry-content">
      <div class="entry-body">
      <h4 class="body-header">10h - 13h&nbsp;:&nbsp;<a href="ateliers-techniques-dimanche-25-novembre.html#conf-pile-graphique">Conférence "Plongeons dans le pipeline de rendu graphique, et questions/réponses sur la pile graphique"</a>, Martin Peres</h4>
      
      
      <h4 class="body-pause">13h - 14h&nbsp;:&nbsp;Repas, Un repas au tarif de 3 EUR est proposé aux participants, voir <a href="http://toulibre.org/capitoledulibre2012:repas-dimanche-midi">cette page pour s'inscrire</a></h4>
           
      </div>
    </div>
  </div>

  <div class="entry" id="dA304">
    <h3 class="entry-header">Salle A304 / Technique</h3>
    <div class="entry-content">
      <div class="entry-body">
      <h4 class="body-header">10h - 13h&nbsp;:&nbsp;<a href="ateliers-techniques-dimanche-25-novembre.html#atelier-openstack">Atelier "A la découverte d'OpenStack, un cloud libre"</a>, Christophe Sauthier, Lionel Porcheron, <i><a href="http://toulibre.org/capitoledulibre2012:atelier-openstack">inscription</a></i></h4>
      
      
      <h4 class="body-pause">13h - 14h&nbsp;:&nbsp;Repas, Un repas au tarif de 3 EUR est proposé aux participants, voir <a href="http://toulibre.org/capitoledulibre2012:repas-dimanche-midi">cette page pour s'inscrire</a></h4>
      
      
      <h4 class="body-header">14h - 17h&nbsp;:&nbsp;<a href="ateliers-techniques-dimanche-25-novembre.html#atelier-puppet">Atelier "Passer de 10 à 1000 machines sans effort avec puppet"</a>, Christophe Sauthier, Lionel Porcheron, <i><a href="http://toulibre.org/capitoledulibre2012:atelier-puppet">inscription</a></i></h4>
      
      
      </div>
    </div>
  </div>
  <div class="entry" id="dA201">
    <h3 class="entry-header">Salle A201 / Multimedia</h3>
    <div class="entry-content">
      <div class="entry-body">
      <h4 class="body-header">10h - 13h&nbsp;:&nbsp;<a href="ateliers-multimedia-dimanche-25-novembre.html#atelier-affiche">Atelier "Mon affiche de A à Z avec des logiciels libres"</a>, Antoine Bardelli, <i><a href="http://toulibre.org/capitoledulibre2012:atelier-affiche">inscription</a></i></h4>
      
      
      <h4 class="body-pause">13h - 14h&nbsp;:&nbsp;Repas, Un repas au tarif de 3 EUR est proposé aux participants, voir <a href="http://toulibre.org/capitoledulibre2012:repas-dimanche-midi">cette page pour s'inscrire</a></h4>
      
      
      <h4 class="body-header">14h - 17h&nbsp;:&nbsp;<a href="ateliers-multimedia-dimanche-25-novembre.html#atelier-crea-2d">Atelier "Dessin et création avec MyPaint"</a>, David Revoy, <i><a href="http://toulibre.org/capitoledulibre2012:atelier-mypaint">inscription</a></i></h4>
      
      
      </div>
    </div>
  </div>
  <div class="entry" id="dA202">
    <h3 class="entry-header">Salle A202 / Multimedia</h3>
    <div class="entry-content">
      <div class="entry-body">
      <h4 class="body-header">10h - 13h&nbsp;:&nbsp;<a href="ateliers-multimedia-dimanche-25-novembre.html#atelier-blender">Atelier "Générique / Flying logo explosif avec Blender"</a>, François Grassard, <i><a href="http://toulibre.org/capitoledulibre2012:atelier-blender">inscription</a></i></h4>
      
      
      <h4 class="body-pause">13h - 14h&nbsp;:&nbsp;Repas, Un repas au tarif de 3 EUR est proposé aux participants, voir <a href="http://toulibre.org/capitoledulibre2012:repas-dimanche-midi">cette page pour s'inscrire</a></h4>
      
      
      <h4 class="body-header">14h - 17h&nbsp;:&nbsp;<del><a href="ateliers-multimedia-dimanche-25-novembre.html#atelier-mao">Atelier "M.A.O avec Ardour et ressources sonores ouvertes"</a>, François Girault, <i><a href="http://toulibre.org/capitoledulibre2012:atelier-mao">inscription</a></i></del><strong>&nbsp;ANNULÉ</strong></h4>
      
      
      </div>
    </div>
  </div>
  <div class="entry" id="dA203">
    <h3 class="entry-header">Salle A203 / Multimedia</h3>
    <div class="entry-content">
      <div class="entry-body">
      <h4 class="body-header">10h - 13h&nbsp;:&nbsp;<a href="ateliers-multimedia-dimanche-25-novembre.html#atelier-archi-blender">Atelier "Logiciels libres et architecture ?"</a>, Matthieu Dupont de Dinechin, <i><a href="http://toulibre.org/capitoledulibre2012:atelier-architecture">inscription</a></i></h4>
      
      
      <h4 class="body-pause">13h - 14h&nbsp;:&nbsp;Repas, Un repas au tarif de 3 EUR est proposé aux participants, voir <a href="http://toulibre.org/capitoledulibre2012:repas-dimanche-midi">cette page pour s'inscrire</a></h4>
      
      
      <h4 class="body-header">14h - 17h&nbsp;:&nbsp;<a href="ateliers-multimedia-dimanche-25-novembre.html#atelier-montage-audio-video">Atelier Montage Audio/Vidéo</a>, Laurent Bellegarde, <i><a href="http://toulibre.org/capitoledulibre2012:atelier-video">inscription</a></i></h4>
      
      
      </div>
    </div>
  </div>
  <div class="entry" id="dC102">
    <h3 class="entry-header">Salle C102 / Ubuntu Party</h3>
    <div class="entry-content">
      <div class="entry-body">
      <h4 class="body-header">10h - 13h&nbsp;:&nbsp;<a href="ubuntu-party-dimanche-25-novembre.html#installparty">Install Party Ubuntu</a></h4>
      
      
      <h4 class="body-pause">13h - 14h&nbsp;:&nbsp;Repas, Un repas au tarif de 3 EUR est proposé aux participants, voir <a href="http://toulibre.org/capitoledulibre2012:repas-dimanche-midi">cette page pour s'inscrire</a></h4>
      
      
      <h4 class="body-header">14h - 17h&nbsp;:&nbsp;<a href="ubuntu-party-dimanche-25-novembre.html#installparty">Install Party Ubuntu</a></h4>
      
      
      </div>
    </div>
  </div>
  <div class="entry" id="dA301">
    <h3 class="entry-header">Salle A301, A302 / DjangoCon</h3>
    <div class="entry-content">
      <div class="entry-body">
      <h4 class="body-header">10h - 13h&nbsp;:&nbsp;<a href="http://rencontres.django-fr.org/2012/tolosa/">Sprints et ateliers</a></h4>
      
      
      <h4 class="body-pause">13h - 14h&nbsp;:&nbsp;Repas, Un repas au tarif de 3 EUR est proposé aux participants, voir <a href="http://toulibre.org/capitoledulibre2012:repas-dimanche-midi">cette page pour s'inscrire</a></h4>
      
      
      <h4 class="body-header">14h - 17h&nbsp;:&nbsp;<a href="http://rencontres.django-fr.org/2012/tolosa/">Sprints et ateliers</a></h4>
      
      
      </div>
    </div>
  </div>

  <div class="entry" id="dA302">
    <h3 class="entry-header">Salle A301, A302 / DjangoCon</h3>
    <div class="entry-content">
      <div class="entry-body">
      <h4 class="body-header">10h - 13h&nbsp;:&nbsp;<a href="http://rencontres.django-fr.org/2012/tolosa/">Sprints et ateliers</a></h4>
      
      
      <h4 class="body-pause">13h - 14h&nbsp;:&nbsp;Repas, Un repas au tarif de 3 EUR est proposé aux participants, voir <a href="http://toulibre.org/capitoledulibre2012:repas-dimanche-midi">cette page pour s'inscrire</a></h4>
      
      
      <h4 class="body-header">14h - 17h&nbsp;:&nbsp;<a href="http://rencontres.django-fr.org/2012/tolosa/">Sprints et ateliers</a></h4>
      
      
      </div>
    </div>
  </div>


  <div class="entry" id="dA303">
    <h3 class="entry-header">Salle A303 / Akademy-fr</h3>
    <div class="entry-content">
      <div class="entry-body">
      <h4 class="body-header">10h - 13h&nbsp;:&nbsp;<a href="http://toulibre.org/akademyfr#atelier_ui_clinic">Chirurgie esthétique pour applications KDE</a>, Aurélien Gâteau<br>
<a href="http://toulibre.org/akademyfr#atelier_traduction">Mise en pratique des règles de contrôle qualité pour les traductions</a>, Sébastien Renard<br>
<a href="http://toulibre.org/akademyfr#atelier_kde">Ateliers KDE</a>, Equipe KDE France</h4>
      
      
      <h4 class="body-pause">13h - 14h&nbsp;:&nbsp;Repas, Un repas au tarif de 3 EUR est proposé aux participants, voir <a href="http://toulibre.org/capitoledulibre2012:repas-dimanche-midi">cette page pour s'inscrire</a></h4>
      
      
      <h4 class="body-header">14h - 17h&nbsp;:&nbsp;<a href="http://toulibre.org/akademyfr#atelier_kde">Ateliers KDE</a>, Equipe KDE France</h4>
      
      
      </div>
    </div>
  </div>
</div>

</div>
{% endblock %}
